<section class="window-content">
  <div class="sidebar-tab compendium flexcol">
    <ol class="directory-list">
      {{#each moves}}
        <h2>{{{ localize (concat "MOTW." @key) }}}</h2>
        {{#each this as |move id|}}
          <li class="directory-item flexrow item drag" data-entry-id="{{ move._id }}" data-pack="{{ move.compendium.collection }}">
            <img draggable="true" class="profile" title="{{ move.name }}" src="{{ move.img }}">
            <h4 class="entry-name"><a>{{ move.name }}</a></h4>
          </li>
        {{else}}
          <p>{{ localize "MOTW.NoMoveToLearn" }}</p>
        {{/each}}
      {{/each}}
    </ol>
  </div>
</section>
