.polaroid {
  background: url("../images/hunter/polaroid.jpg");
  background-size: 180px 220px;
  padding: 10px 10px 50px 10px;
  flex-shrink: 0;
  flex-basis: 180px;
  transform: rotate(-8deg);
  box-shadow: 1px 1px 10px $transparent-black-50;

  .name {
    margin-top: 4px;

    input {
      font-family: 'Cedarville Cursive', cursive;
      width: 156px;
      font-size: 16px;
      text-align: center !important;
    }
  }

  .clipper {
    position: absolute;
    top: -12px;
    left: -5px;

    img {
      border: none;
      width: 60px;
    }
  }

  img {
    border: none;
    margin-top: 1px;
    margin-left: 1px;
    bottom: -2px;
    height: calc(100% + 4px);
    width: 100%;
    object-fit: cover;
    object-position: top;
  }
}
