select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  text-overflow: "";
  background: none;
  border: none;
  width: auto;
  text-align-last: center;
  text-align: center !important;
  padding: 3px;
}

.field {
  font-family: ThirdMan;
  font-size: 23px;
  margin: 2px;
  padding: 0;
  width: 100%;
  color: black;

  &[type="number"] {
    text-align: center;
  }

  &:not([type="checkbox"]) {
    border: none;
    background: none;
  }
}

.field[type="number"]::-webkit-inner-spin-button,
.motw_field[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}
