<!-- Polaroid Picture -->
<div class="polaroid">
  <img
    src="{{actor.img}}"
    title="{{actor.name}}"
    data-edit="img"
    height="100"
    width="100"
  />
  <div class="name">
    <input
      name="name"
      type="text"
      class="field"
      value="{{actor.name}}"
      placeholder="Character Name"
    />
  </div>
  <div class="clipper">
    <img src="/systems/motw/system/assets/images/clipper.png" />
  </div>
</div>

<div class="statistics">
  <!-- Attributes -->
  <div class="attributes">
    {{#each data.attributes as |attribute id|}}
    <div class="attribute" data-attribute-id="{{id}}">
      <label>
        <a>{{ localize (concat "MOTW." id) }}</a>
      </label>
      <div class="score">
        <div class="field">
          {{attribute.value}}
        </div>
        <div class="bonus{{#if (eq 1 attribute.mod) }} active{{/if}}">+1</div>
      </div>
    </div>
    {{/each}}
  </div>

  <!-- Resources -->
  <div class="resources">
    <div class="resource">
        <label class="">
          {{localize "MOTW.Luck"}}
        </label>
      <div class="resource-bar" data-field-id="luck">
        <div
          class="bar resource-data luck active"
          style="width:{{multiply 18 data.luck.value}}px;"
        ></div>
        <div
          class="bar resource-data luck"
          style="width:{{multiply 18 (subtract data.luck.max data.luck.value)}}px"
        ></div>
      </div>
    </div>
    <div class="resource">
        <label>
          {{localize "MOTW.Damage"}}
        </label>
      <div class="resource-bar" data-field-id="health">
        <div
          class="bar resource-data health active"
          style="width:{{multiply 18 data.health.value}}px;"
        ></div>
        <div
          class="bar resource-data health"
          style="width:{{multiply 18 (subtract data.health.max data.health.value)}}px;"
        ></div>
      </div>
      <div class="health_warning"></div>
    </div>
    <div class="resource" data-field-id="health.unstable">
        <label>
          {{localize "MOTW.Unstable"}}
        </label>
      {{#if data.health.unstable}}
      <div
        class="unstable checkbox-data"
        style="background-image: url('/systems/motw/system/assets/images/hunter/health.png');"
      ></div>
      {{else}}
      <div
        class="unstable checkbox-data"
        style="background-image: url('/systems/motw/system/assets/images/hunter/empty_checkbox.png');"
      ></div>
      {{/if}}
    </div>
  </div>
</div>
<div class="xp-bar" data-field-id="xp">
  <label class="">
    XP
  </label>
  <div
    class="bar active resource-data"
    style="height:{{multiply 18 data.xp.value}}px;"
  ></div>
  <div
    class="bar resource-data"
    style="height:{{multiply 18 (subtract data.xp.max data.xp.value)}}px;"
  ></div>
</div>
