<div class="panel tab" id="motw_improvements" data-tab="improvements">
  <div class="content">
    <section>
      <h2 class="basic-improvements">
        {{{ localize "MOTW.BasicImprovements" }}}
        {{{ icon 'plus' }}}
      </h2>
      <ol class="items-list">
        {{#each basicImprovements as |improvement id|}}
        <div class="item-entry">
          <li class="item" data-item-id="{{improvement._id}}">
            <img src="{{improvement.img}}">
            <h4 class="item-name">
              {{ improvement.name }}
            </h4>
            <div class="item-controls">
              <a class="item-control item-delete" title="Delete improvement">
                {{{ icon 'trash' }}}
              </a>
            </div>
          </li>
        </div>
        {{/each}}
      </ol>
    </section>

    <section>
      <h2 class="improvement-button">
        {{{ localize "MOTW.AdvancedImprovements" }}}
      </h2>
      <ol class="items-list">
        {{#each advancedImprovements as |improvement id|}}
        <div class="item-entry">
          <li class="item" data-item-id="{{improvement._id}}">
            <img src="{{improvement.img}}">
            <h4 class="item-name">
              {{ improvement.name }}
            </h4>
            <div class="item-controls">
              <a class="item-control item-delete" title="Delete improvement">
                {{{ icon 'trash' }}}
              </a>
            </div>
          </li>
        </div>
        {{/each}}
      </ol>
    </section>
  </div>
  <div class="status">
    <div>{{{ localize "MOTW.BasicImprovements" }}} : {{{ parseHTML strings.basicImprovementsCount }}}</div>
    <div>{{{ localize "MOTW.AdvancedImprovements" }}} : {{{ parseHTML strings.advancedImprovementsCount }}}</div>
  </div>
</div>

