<nav class="tabs">
  <a class="motw_tab item" data-tab="career">
    {{{localize "MOTW.Career"}}}
  </a>
  <a class="motw_tab item" data-tab="basic-moves" primary="true">
    {{{localize "MOTW.BasicMoves"}}}
  </a>
  <a class="motw_tab item" data-tab="hunter-moves" primary="true">
    {{{localize "MOTW.HunterMoves"}}}
  </a>
  <a class="motw_tab item" data-tab="equipment">
    {{{localize "MOTW.Items"}}}
  </a>
  <a class="motw_tab item" data-tab="improvements">
    {{{localize "MOTW.Improvements"}}}
  </a>
</nav>
