.career-container {
  display: grid;
    grid-template-columns: 8fr 12fr;
    grid-gap: 8px;
}

.archetype {
  text-align: center;
}

.archetype-stat {
  display: flex;
  position: relative;
  margin: 4px 5px 12px;
  border: 1px black solid;
  padding: 4px;
  justify-content: space-around;
  align-items: center;
  border-radius: 5px;
  cursor: url("../images/hunter/eraser.cur"), pointer;

  &:not(.highlight)::after {
    content: "";
    position: absolute;
    background-image: url("../images/hunter/scribble.png");
    top: -5px;
    left: -18px;
    width: 114%;
    height: 150%;
    background-position: center;
    background-size: 246px 38px;
    background-repeat: no-repeat;
    opacity: 0.75;
  }

  &.highlight {
    cursor: default;
  }
}

.archetype-header {
  display: flex;
    margin: 0 5px 0;
    align-items: center;
    justify-content: space-between;
    padding: 0 4px;
}

.right {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-right: 8px;
}
