<section class="window-content">
  <div class="sidebar-tab compendium flexcol">
    <ol class="directory-list">
      {{#each archetypes as |archetype id|}}
      <li class="directory-item flexrow item drag" data-entry-id="{{ archetype._id }}">
        <img class="profile" title="{{ archetype.name }}" src="{{ archetype.img }}">
        <h4 class="entry-name"><a>{{ archetype.name }}</a></h4>
      </li>
      {{/each}}
    </ol>
  </div>
</section>
