.window-content {
  padding: 0;
}

.container {
  font-family: WarnockRegular;
  font-size: 22px;
  background-image: url("../images/coffee background.jpg");
}

.name {
  text-align: center;
  font-family: ThirdMan;
  font-size: 55px;
  margin-top: 25px;
  margin-bottom: 40px;
}

.description {
  line-height: 34px;
  margin-left: 16px;
}
