& {
  min-width: 600px;
  min-height: 595px;
}

.window-content {
  font-family: WarnockRegular;
  background-size: 600px 570px;
  width: 100%;
  list-style: none;
  height: 100%;
  background-image: url("../images/coffee background.jpg");
  padding: 0;
}

.sheet-header {
  display: flex;
  height: 220px;

  @import 'partials/hunter_header';
}

.sheet-body {
  margin: 25px 5px 0 5px;
  display: flex;
  flex-direction: column;

  .status {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 16px;
  }

  .panel[data-tab="hunter-moves"] { @import 'partials/hunter_moves'; }
  .panel[data-tab="equipment"] { @import 'partials/hunter_equipment'; }
  .panel[data-tab="career"] { @import 'partials/hunter_career'; }
  .panel[data-tab="improvements"] { @import 'partials/hunter_improvements'; }
}
