.window-content {
  padding: 0;
  background-image: url("../images/notecard background.jpg");
}

.container {
  font-family: WarnockRegular;
  font-size: 16px;
}

.name {
  text-align: center;
  font-family: ThirdMan;
  font-size: 45px;
  margin-bottom: 26px;
}

.description {
  line-height: 24px;
  margin-left: 20px;
  margin-right: 15px;

  ul {
    margin: 2px 0 25px;
    padding: 0 0 0 2em;
  }
}
